 /* Extra small devices (portrait phones, less than 576px) */
 /* No media query since this is the default in Bootstrap */
 body {
    margin: 1em;
    font-size: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    body {
        margin: 1em;
        font-size: 1em;
    }
}

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    body {
        margin: 1em;
        font-size: 1.5em;
    }
}

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    body {
        margin: 1em;
        font-size: 2em;
    }
}

 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    body {
        margin: 2em;
        font-size: 2em;
    }
}

html {
    background: rgb(177,48,215);
    background: linear-gradient(90deg, rgba(177,48,215,1) 15%, rgba(0,212,255,1) 100%);
}

input, #deutsch{
    padding: 0.3em 0.5em;
    font-size: 1em;
    border-radius: 2em;
    margin-left: 0.5em;
    margin-bottom: -0.5em;
}

#deutsch{
    background-color: rgba(255,255,255,0.3);
    display: inline-block;
}

img {
    height: 6em;
    width: 6em;
    position: absolute;
    filter: invert(100%);  /*drop-shadow(8px 9px 4px black);*/
}

#star1{ top: 25em; right: 12em; /*transform: rotateZ(14deg);*/}
#star2{ top: 28em; right: 24em; /*transform: rotateZ(43deg);*/}
#star3{ top: 18em; right: 35em; /*transform: rotateZ(18deg);*/}
#star4{ top: 17em; right: 18em; /*transform: rotateZ(26deg);*/}
#star5{ top: 33em; right:  8em; /*transform: rotateZ(17deg);*/}
#star6{ top:  0em; right:  0em; /*transform: rotateZ(0deg);*/}

#container_inner{
    width: fit-content;
}

.inputContainer{
    max-width: 100%;
    padding: auto;
    margin-bottom: 1em;
}

#okButton {
    color: black;
    width: 6em;
    height: 2em;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: rgb(19, 190, 62);
    opacity: 0.9;
    text-align: center;
    line-height: 2em;
    float: right;
}
#okButton:hover {
    opacity: 1;
    cursor: pointer;
}

#auswertungContainer {
    display: flex;
    margin: 0em 2em;
    background: rgba(255,255,255,0.3);
    line-height: 4em;
    padding: 1em;
    height: 3em;
    border-radius: 0 0 0.3em 0.3em;
    border: 3px solid black;
    border-top: 0;
    box-shadow: 0 0 7px;
}

#auswertung {
    width: max-content;
}





.bounce-7 {
    animation-duration: 600ms;
    animation-iteration-count: 1;
    transform-origin: bottom;
    animation-name: bounce-7;
    animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
}
@keyframes bounce-7 {
    0%   { transform: scale(1,1)      translateY(0); }
    10%  { transform: scale(1.1,.9)   translateY(0); }
    30%  { transform: scale(.9,1.1)   translateY(-20px); }
    50%  { transform: scale(1.05,.95) translateY(0); }
    57%  { transform: scale(1,1)      translateY(-7px); }
    64%  { transform: scale(1,1)      translateY(0); }
    100% { transform: scale(1,1)      translateY(0); }
}
.motionBall {
    offset-path: path('M57,9 C42,9 369,8 384,9 C439,11 441,29 450,99');
    animation: move 600ms 1 alternate ease-in-out;
    width: 2em;
    height: 2em;
    background: cyan;
    border-radius: 1em;
    animation-fill-mode: forwards;
  }
  @keyframes move {
    0% {
      offset-distance: 0%;
    }
    100% {
      offset-distance: 100%;
    }
  }
.spin{
  -webkit-animation:spin 300ms 5 linear;
  -moz-animation:spin 300ms 5 linear;
  animation:spin 300ms 5 linear;
}
@-moz-keyframes spin {
  100% { -moz-transform: rotate3d(1, 1, 1, 360deg); }
}
@-webkit-keyframes spin {
  100% { -webkit-transform: rotate3d(1, 1, 1, 360deg); }
}
@keyframes spin {
  100% {
      -webkit-transform: rotate3d(1, 1, 1, 360deg);
      transform: rotate3d(1, 1, 1, 360deg);
  }
}