html {
    background: rgb(177,48,215);
    background: linear-gradient(90deg, rgba(177,48,215,1) 15%, rgba(0,212,255,1) 100%);
}

body {
    margin: 1em;
    font-size: 2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

input, #deutsch{
    padding: 0.3em 0.5em;
    font-size: 1em;
    border-radius: 2em;
    margin-left: 0.5em;
}

#deutsch{
    background-color: rgba(255,255,255,0.3);
}

img {
    height: 6em;
    width: 6em;
    position: absolute;
    filter: invert(100%);  /*drop-shadow(8px 9px 4px black);*/
    bottom: 10%;
    left: 2em;
}

#container_inner{
    width: fit-content;
}

.inputContainer{
    max-width: 100%;
    padding: auto;
    margin-bottom: 1em;
}


#okButton {
    color: black;
    width: 6em;
    height: 2em;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: rgb(19, 190, 62);
    opacity: 0.9;
    text-align: center;
    line-height: 2em;
    float: right;
}
#okButton:hover {
    opacity: 1;
    cursor: pointer;
}