 /* Extra small devices (portrait phones, less than 576px) */
 /* No media query since this is the default in Bootstrap */
body {
    margin: 1em;
    font-size: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.containerBottom{
    float: right;
    margin-top: -2em;
}

.progress {
    width: calc(100% + 1px);
    margin-left: -0.5px;
    height: calc(100% + 1px);
}

 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    body {
        margin: 1em;
        font-size: 1em;
    }

    #okButton {
        float: right;
    }

    .containerBottom{
        float: none;
        margin-top: 0;
    }
    .progress {
        width: calc(100% + 2px);
        margin-left: -1px;
        margin-top: 1px;
    }
}

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    body {
        margin: 1em;
        font-size: 1.5em;
    }
}

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    body {
        margin: 1em;
        font-size: 2em;
    }
}

 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    body {
        margin: 2em;
        font-size: 2em;
    }
}

html {
    background: rgb(177,48,215);
    background: linear-gradient(90deg, rgba(177,48,215,1) 15%, rgba(0,212,255,1) 100%);
}

.containerBottom, .containerTop, .containerMain{
    display: inline-block;
}

#vokabelContainer, #bottomArea{
    height: 50vh;
    width: fit-content;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

input, #deutsch, #to{
    padding: 0.3em 0.5em;
    font-size: 1em;
    border-radius: 2em;
    margin-left: 0.5em;
}

#grundform{
    padding-left: 1.5em;
}

#to{
    position: absolute;
    opacity: 0.7;
    margin-top: 0.05rem;
}

#deutsch{
    background-color: rgba(255,255,255,0.3);
    display: inline-block;
    margin-bottom: -0.5em;
}

img {
    height: 6em;
    width: 6em;
    position: absolute;
    filter: invert(100%);  /*drop-shadow(8px 9px 4px black);*/
    z-index: -1;
}

#star1{ top: 22em; left:   2em; transform: rotateZ(14deg);}
#star2{ top: 28em; right: 24em; transform: rotateZ(43deg);}
#star3{ top: 16em; right: 35em; transform: rotateZ(18deg);}
#star4{ top: 17em; right: 18em; transform: rotateZ(26deg);}
#star5{ top: 33em; right:  8em; transform: rotateZ(17deg);}
#star6{ top: 26em; right:  10%; transform: rotateZ(0deg);}

#container_inner{
    width: fit-content;
}

.inputContainer{
    max-width: 100%;
    padding: auto;
    margin-bottom: 1em;
}

#okButton {
    color: black;
    width: 6em;
    height: 2em;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: rgb(19, 190, 62);
    opacity: 0.9;
    text-align: center;
    line-height: 2em;
}
#okButton:after {
    content: "ok";
}
#okButton:hover {
    opacity: 1;
    cursor: pointer;
}
.restartButton{
    background-color:rgb(19, 87, 190) !important;
    color: white !important;
    opacity: 0.7 !important;
}
.restartButton:after {
    content: "Nochmal" !important;
}
.restartButton:hover {
    opacity: 1 !important;
}

.reloadButton{
    background-color:rgb(19, 87, 190) !important;
    color: white !important;
    opacity: 0.7 !important;
}
.reloadButton:after {
    content: "Fertig :)" !important;
}
.reloadButton:hover {
    opacity: 1 !important;
}

#auswertungContainer {
    margin: 0 2em;
    background: rgba(6, 187, 6, 0.87);
    width: 4em;
    height: 5em;
    border-radius: 0 0 0.3em 0.3em;
    border: 3px solid black;
    border-top: 0;
    box-shadow: 0 0 7px;
    position: relative;
}

#auswertung {
    width: max-content;
    display: inline-flex;
    margin: 2em 1em 0 1em;
    position: absolute;
    color: black;
}

#statistic{
    width: fit-content;
    border: 1px solid gainsboro;
    padding: 1rem;
    border-radius: 5px;
    background-color: rgba(200,200,200,0.3);
    color: rgba(34, 32, 32, 0.9);
    margin: 1em;
    font-size: 1.4rem !important;
}

#statisticLabel{
    margin: -2em 3em 0 3em;
    float: right;
    background: #76a9ec;
    padding: 0.2rem 1rem 0.2rem 1rem;
    border-radius: 5px;
    border-top: 1px solid gainsboro;
    font-size: 0.75rem;
}
#statisticLabel:hover{
    cursor: pointer;
    background: #6cacff;
}

.bulletpoint {
    margin-left: 1em;
}

.rainbow{
    background: rgba(6, 187, 6, 0.87) !important; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(bottom, #eb1e1e, #ff8d00 , yellow, lightgreen, #14a6e8, #ca58fa) !important; /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom, #eb1e1e, #ff8d00 , yellow, lightgreen, #14a6e8, #ca58fa) !important; /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom, #eb1e1e, #ff8d00 , yellow, lightgreen, #14a6e8, #ca58fa) !important; /* For Firefox 3.6 to 15 */
    background: linear-gradient(to top, #eb1e1e, #ff8d00 , yellow, lightgreen, #14a6e8, #ca58fa) !important; /* Standard syntax (must be last) */
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    margin-block: 0;
    margin-inline: 0;
    padding-inline: 0;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.6);
    animation: iceCubeBubbles 25s linear infinite;
    border-radius: 1em;
    bottom: -150px;
}

.circles li:nth-child(1){  left: 25%; width: 10px; height: 10px; animation-delay: 0s; animation-duration: 22s; }
.circles li:nth-child(2){  left: 10%; width: 20px; height: 20px; animation-delay: 2s; animation-duration: 32s; }
.circles li:nth-child(3){  left: 70%; width: 20px; height: 20px; animation-delay: 4s; animation-duration: 22s; }
.circles li:nth-child(4){  left: 40%; width: 10px; height: 10px; animation-delay: 0s; animation-duration: 28s; }
.circles li:nth-child(5){  left: 65%; width: 20px; height: 20px; animation-delay: 0s; animation-duration: 42s; }
.circles li:nth-child(6){  left: 75%; width: 30px; height: 30px; animation-delay: 3s; animation-duration: 32s; }
.circles li:nth-child(7){  left: 35%; width: 15px; height: 15px; animation-delay: 7s; animation-duration: 42s; }
.circles li:nth-child(8){  left: 50%; width: 25px; height: 25px; animation-delay: 5s; animation-duration: 45s; }
.circles li:nth-child(9){  left: 20%; width: 15px; height: 15px; animation-delay: 2s; animation-duration: 35s; }
.circles li:nth-child(10){ left: 85%; width: 20px; height: 20px; animation-delay: 0s; animation-duration: 31s; }

@keyframes iceCubeBubbles {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
    }
}